.idea
*.iml
target/
*/target/**
atlassian-ide-plugin.xml
.eclipse
.project
.classpath
*.project
*.settings*
node_modules/
node/
/src/generated-sources
/src/main/resources/static/index.html
/src/main/resources/static/scripts.js
bower_components/
.sass-cache
/xmloutput.xml