<div ng-controller="MenuCtrl as vm">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Microclothes</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">{{'menu.home' | translate}}</a></li>
                    <li><a ui-sref="clothes">{{'menu.clothes' | translate}}</a></li>
                    <li><a ui-sref="shoes">{{'menu.shoes' | translate}}</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li ui-sref="account" ng-show="vm.isLoggedUser()"><a>{{'common.hello' | translate}} {{vm.loggedUser}}</a></li>

                    <li ng-hide="vm.isLoggedUser()" class="active"><a ui-sref="login">{{'common.login' | translate}} <span class="sr-only">(current)</span></a></li>
                    <li ng-show="vm.isLoggedUser()" class="active"><a href="#" ng-click="vm.logout()">{{'common.logout' | translate}}<span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>