<div class="container">
    <div class="row">
        <div class="col-xs-4 item-photo">
            <img onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg'" style="max-width:100%;" src="data:image/jpg;base64,{{vm.itemDetails.image}}"/>
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <!-- Datos del vendedor y titulo del producto -->
            <h3>{{vm.itemDetails.name}}</h3>
            <h5 style="color:#337ab7"> <a href="#">{{vm.itemDetails.brand}}</a></h5>

            <!-- Precios -->
            <h6 class="title-price"><small>{{'common.price' | translate}}</small></h6>
            <h3 style="margin-top:0px;">{{vm.itemDetails.price.amount}} {{vm.itemDetails.price.currency}}</h3>
            <h6 class="title-price"><small>{{'common.color' | translate}}</small></h6>
            <div class="section">
                <ul>
                    <li class="hand" ng-repeat="color in vm.availableColors" ng-click="vm.chooseColor(color)">{{'color.' + color | translate}} <span ng-if="vm.selectedColor === color" style="color: green" class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                </ul>
            </div>
            <h6 class="title-price"><small>{{'common.size' | translate}}</small></h6>
            <div class="section">
                <select ng-model="vm.selectedSize"
                    ng-options="size.size for size in vm.availableSizes">
                </select>
            </div>
            <div style="margin-bottom: 30px"></div>
            <div class="section" style="padding-bottom:20px;">
                <button ng-disabled="!vm.isAvailableForPurchase()" class="btn btn-success" ng-click="vm.addToCart()"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{'cart.add' | translate}}</button>

                <br/>
                <button class="btn btn-info" onclick="window.history.back()">{{'common.back' | translate}}</button>
            </div>
        </div>

        <div class="col-xs-9">

            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    <small>
                        {{vm.itemDetails.description}}
                    </small>
                </p>

            </div>
        </div>


    </div>
</div>